body {
  font-family: "Bitter";
  background: #fafafa;
  font-size: 0.9rem;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  @media (max-width: 900px) {
    display: block;
  }
}
.wrapper__left-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px;
}
.wrapper__right-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
}
.contact-form {
  box-sizing: border-box;
  input,
  textarea {
    border: 1px solid #ced4da;
    box-shadow: none;
    display: block;
    border-radius: 0.25rem;
    margin-top: 0.35rem;
    width: 70%;
  }
  button {
    color: #fff;
    border-color: #4072e8;
    background-color: #4072e8;
    width: 70%;
    margin-top: 0.35rem;
    border-radius: 0.25rem;
  }
  button:hover {
    background-color: #1a54db;
  }
}
.header-firstname {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.header-lastname {
  color: #1a54db;
}
.header-links {
  margin-top: 0;
  font-weight: bold;
  font-size: 3rem;
}
.link-title {
  margin-bottom: 0;
}
.link-date {
  margin-top: 0;
}
.link-description {
  margin-top: 15px;
  margin-bottom: 10px;
}
.git-link {
  width: 50px;
  height: 25px;
}
.icon-github {
  width: 50px;
}
a {
  background-image: none;
  color: #4072e8;
}
a:hover {
  text-decoration: underline;
}
.link-post {
  margin-right: 12px;
}
.link-github {
  margin-right: 12px;
}
.fa-external-link-alt {
  color: #1a54db;
}
a {
  text-shadow: none;
}
.fc .fc-ltr .fc-unthemed {
  width: 80%;
}
.fc-scroller .fc-day-grid-container {
  min-height: 100%;
}
